*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
#main{
    background-color: #a5b1c2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #d1d8e0;
}
.top-panel{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    background-color: #778ca3;
    height: 100px;
    width: 100%;
    font-family: 'Bitter', serif;
    font-family: 'Fasthand', cursive;
    font-family: 'Libre Baskerville', serif;
}
.box{
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(218, 218, 239); */
}
.boxy{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-radius: 3px;
    background-color: azure;
    height: 100%;
    width: 30%;
}
.bottom-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    /* overflow: hidden; */
}
.bubble{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color:#f1f2f6;
}
.bubble:hover{
    border: 1px solid #f1f2f6;
    background-color: #c0c6dc;
}
.scoring{
    color: rgb(62, 61, 61);
    padding: 30px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
